{{#extend "layout"}}

{{#content "intro"}}
  {{#markdown}}
# Behavioural Consultations

Dogs are wonderful, intelligent animals, when raised correctly and conditioned to live with you, they truly are man&#39;s best friend but when things go wrong, the results can lead to dreadful suffering for the dog and terrible stress for the owner.

<a href="/behavioural-consultations/dog-on-dog-aggression" class="btn btn-warning">Dog on Dog Aggression</a>
<a href="/behavioural-consultations/dog-on-person-aggression" class="btn btn-danger" style="margin-top: 5px;">Dog on Person Aggression</a>
  {{/markdown}}
{{/content}}

{{#content "main"}}
<div class="row">
	<div class="col-md-12 page-header">
		<h2>A Mans Best Friend</h2>
	</div>
	<div class="col-xs-12 col-sm-6 col-md-7">
		{{> "behavioural-consultations/left-col" }}
	</div>
	<div class="col-xs-12 col-sm-6 col-md-5">
    {{> "behavioural-consultations/shared/vet-referrals" }}
    {{> "behavioural-consultations/right-col" }}
	</div>

	<div class="col-xs-12 col-sm-12 col-md-12">
		<div class="callout callout-info">
      {{> "behavioural-consultations/testimonial" }}
		</div>
	</div>

	<div class="col-xs-12 col-sm-12 col-md-12">
		<a class="btn btn-warning" href="/behavioural-consultations/dog-on-dog-aggression">Next: Dog on Dog Aggression</a>
		<a href="https://cprobert.wufoo.com/forms/gaynor-probert/" class="sendmail btn btn-success" target="_blank">Contact Me</a>
	</div>
</div>
{{/content}}

{{#content "scripts"}}{{/content}}

{{/extend}}
