<div class="col-xs-12 col-sm-12 col-md-9">
  <img class="img-responsive img-thumbnail pull-right" src="/images/courses/platinum/sit-v1.png"
    style="margin: 0 0 10px 10px;">
  <p>Congratulation you have passed your Gold test.</p>
  <p>In this course Gaynor will teach you how to get your dog to do the following disaplins:</p>

  <h4>Change of pace advanced.</h4>
  <p>Heelwork and change of pace is practised while weaving between other people and their dogs</p>

  <h4>Through a Door</h4>
  <p>Going through a door in a controlled manner is now practised off lead.</p>

  <h4>Stop and drop</h4>
  <p>Gaynor will show you how to get your dog to stop and drop, it is also known as the emergency down. If ever you
    think, your dog is running into trouble you can use the emergency down.</p>

  <h4>Out of sight down.</h4>
  <p>In this class we will practise down stay, sit stay, and stand stay, plus stay while the handler goes out of sight
    for 4 minutes.</p>

  <h4>Advenced recall</h4>
  <p>Recall is also done with maximum distraction.</p>

  <h4>Advanced recall to heel.</h4>
  <p>Recall to heel is practised with all the dogs doing this at the same time.</p>

  <h4>Distance control</h4>
  <p>Change of position is done from a distance.</p>

  <h4>Advanced sent work</h4>
  <p>Gaynor adds more of a challenge to the sent work when she hides the article and then your dog is commanded to find
    it.</p>
  <hr>
  <h3>Agility</h3>
  <img class="img-responsive img-thumbnail pull-left" src="/images/courses/platinum/tire-jump-v1.png"
    style="margin-right: 10px;">
  <p>The agility is done off lead as now you are able to have full control your dog.</p>
  <p>In this course you will have taught your dog off lead control including distance commands.</p>
  <p>All sorts of control under lots of different circumstances, this is obedience at the highest level.</p>
  <p>As we said at the beginning, a well behaved dog is a joy to live with and when you have completed your courses with
    Gaynor Probert at A1K9 Behaviour and Training Academy, you can demonstrate that your dog can behave in the home, in
    public places and in the presence of other dogs in a manner that will reflect credit on you and your dog.</p>
  <p>Dogs that have been trained and have good manners are more likely to be accepted in hotels or kennels and can be
    looked after by others should the need arise.</p>
  <p>The dog's life is not curtailed because he does not behave.</p>
  <p>Your dog can live a full and happy life, being with you and sharing your life wherever you are.</p>
</div>