    <div class="alert alert-info">
      {{> "about/gaynor-probert/2014"}}

      <div style="margin-top: 10px;">
        <a href="/attachments/Gaynor-Probert_CFBA_behaviourist_of_the_year_2014.pdf" class="btn btn-success btn-lg"
          target="_blank">
          <span class="glyphicon glyphicon-file"></span> Read case study
        </a>
      </div>

    </div>