    <div class="alert alert-info">
      <img class="img-responsive img-thumbnail pull-right"
        src="/images/about/gaynor-probert-canine-and-feline-practitioner-of-the-year-2014-v1.png"
        style="margin: 00 20px 10px;" />
      <h3>Canine &amp; Feline Practitioner of the Year: 2014</h3>

      <h4>This year I won :)</h4>

      <p>2014 has been a landmark year for me. </p>

      <p> I did my first television and radio interviews where they asked my opinion on why tragic dog
        related accidents occur. We spoke about the dangerous dog act and how making owners responsible
        for what their dog does could make them rethink how they bring up their dog and how educating
        people, to understand, train and condition their dogs to live in a family is key to getting
        better behaved well balanced dogs.</p>
      <p>In the radio interview, they wanted to know how I had started in my profession and how my career
        had progressed. I was asked for my opinion on why a tragic dog related death of a baby in the
        local village of Pontyberam had occurred and how we can prevent these horrific incidents. We
        spoke about when the relationship between dog and owner goes wrong and how getting help from a
        professional behaviourist can prevent these serious problems from occurring and give owners a
        better understanding of their dogs.</p>
      <p> I had some amazingly successful behavioural cases with clients traveling long distances for
        consultations and Behaviour rehabilitation programmes.
        With all this going on I thought it was a good time to enter the CFBA practitioner of the year,
        it would be a dream come true.</p>
      <p>I was invited to the dog's unleashed seminar as a nominee and when the time came and they called
        me out as the winner, I was over the moon. My dream had come true, CFBA practitioner of the year
        2014 awarded for outstanding contribution to the dog training and behaviour profession. </p>
      <p>I cannot thank them enough, an accolade like this is like a special seal of approval that clients
        will see and know that they are in capable hands, that will help them through the difficulty's
        they are having with their canine companion. </p>

      <div style="margin-top: 10px;">
        <a href="/attachments/Gaynor-Probert_CFBA_behaviourist_of_the_year_2014.pdf" class="btn btn-success btn-lg"
          target="_blank">
          <span class="glyphicon glyphicon-file"></span> Read case study
        </a>
      </div>

    </div>