<!DOCTYPE html>
<html lang="en">
  <head>
    <title>{{title}}</title>
    <meta name="description" content="{{description}}">
    {{#content "layout/header"}}
    {{/content}}
    <link href="/css/video.css" rel="stylesheet">
  </head>
  <body>
    {{#content "layout/navbar"}}{{/content}}

    <section class="content-section video-section" style="background-image: url('/images/gaynor-probert-home-v1.1.png');">
      <div class="pattern-overlay">
      <a id="bgndVideo" class="player" data-property="{videoURL:'https://www.youtube.com/watch?v=XAHaVETM1sE', containment:'.video-section', quality:'large', autoPlay:true, mute:true, opacity:1, ratio: '16/9', loop:false}">bg</a>
        <div class="container">
          <div class="row">
            <div class="col-lg-12">
              {{#block "intro"}}{{/block}}
         </div>
          </div>
        </div>
      </div>
    </section>
    
    <div class="container marketing">

        {{#block "main"}}{{/block}}

        <hr class="featurette-divider">
        <footer>
            <p class="pull-right"><a href="#">Back to top</a></p>
            <p>&copy; 2020 Gaynor Probert </p>
        </footer>
    </div>

    
    {{#block "scripts"}}{{/block}}
  </body>
</html>
